body, html {
    height: 100%;
  }

.bg {
    /* The image used */
    background-image: url("../../img/bg2.jpg");
  
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.99;
    
    
  }
.bg-color{
  background: rgb(188,212,232);
  background: linear-gradient(45deg, rgba(188,212,232,1) 0%, rgba(83,140,207,1) 100%);
  font-family: Garamond, serif;
  
  height: 100vh;
  
    /* Center and scale the image nicely */
  
}

.bg-color-container{
  background: rgb(96,175,241);
  background: linear-gradient(357deg, rgba(96,175,241,1) 0%, rgba(0,67,147,1) 100%);
}

